.main-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

.flashcard-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 4;
  justify-content: center;
  align-items: center;
  background-color: green;
}