.wordbox-container {
  flex: 1;
  align-items: center;
  border-style: solid;
  border-radius: 15px;
  margin-top: 45px;
  height: 650px;
  /* background-color: red; */
}

.wordbox-header {
  font-family: Arial;
  flex: 1;
  /* background-color: orange; */
}

.wordlist {
  /* background-color: blue; */
  flex: 7;
  width: 100%;
}

/* .word:active {
  background-color: pink;
} */

.tag-container {
  flex: 0;
  /* background-color: yellow; */
}

.centered-textbox {
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}